<%- include('./partials/header') %>
<body>
<%- include('./partials/nav') %>
<div class="container mt-5">
    <div class="d-flex flex-row justify-content-around">
        <% for (let user of users) { %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/data/user.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%- user.name %></h5>
                    <p class="card-text">Some quick</p>
                    <a href="/<%- user._id %>/diet" class="btn btn-primary">Diet</a>
                </div>
            </div>
        <% } %>
    </div>
</div>


<%- include('./partials/footer') %>